.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (min-width: 775px) {
    .container {
        flex-direction: row;
        gap: 11px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        gap: 30px;
    }
}