.planetInfo {
  width: 327px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  color: #ffffff;
}

.title {
  font-family: 'Antonio';
  font-size: 40px;
  text-transform: uppercase;
}

.info {
  line-height: 22px;
  text-align: center;
}

.tag {
  font-size: 12px;
  line-height: 25px;
  color: #838391;
}

.link {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  text-decoration-line: underline;
  color: #ffffff;
}

@media screen and (min-width: 775px) {
    .planetInfo {
        gap: 24px;
        align-items: start;
        width: 339px;
    }
    
    .title {
        font-size: 48px;
    }

    .info {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .planetInfo {
      width: 350px;
    }

    .title {
        font-size: 80px;
    }

    .info {
        font-size: 14px;
    }

    .tag {
        font-size: 14px;
    }

    .link {
        font-size: 14px;
    }
}